@model IEnumerable<GradPlus.Data.Models.Domain.CompanyCategory>

@{
    ViewBag.Title = "GetCompanyCategories";
}

<h2>GetCompanyCategories</h2>

<p>
    @Html.ActionLink("Create New", "CreateCompanyCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCompanyCategory", new { id=item.ID }) |
            @Html.ActionLink("Details", "GetCompanyCategory", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteCompanyCategory", new { id=item.ID })
        </td>
    </tr>
}

</table>
